@page "/product"
@using SPFAdminSystem.Database
@inject IProductData _db

<h3>AddProduct</h3>
<button onclick="@InsertProduct">add product here</button>

@code {

    private List<Product> products = new();
    public async Task InsertProduct() {

        Product hejsa = new Product();
        hejsa.ProductId = "4";
        hejsa.InHouseTitle = "test";

        await _db.InsertProduct(hejsa);


        products.Add(hejsa);
        Console.WriteLine("Product Added");
    }
    }


@code {
    /* private async Task InsertPerson()
    {

        await _db.InsertPerson(p);

        people.Add(p);

        newPerson = new DisplayPersonModel();
    }*/
}


