@page "/insertFromExcel"
@using SPFAdminSystem.Database;
@using SPFAdminSystem.Database.ProductFiles
@inject IProductService _context

<h3>Dummy page for the Mapping functionality</h3>
<button onclick=@logfile>log from Excel</button>
<button onclick=@logfiles>Mapping</button>

@code {
    string hej = null;
    string test = null;
    private async void logfile()
    {
        await _context.InsertExcelProducts("Produkter.xlsx");
        hej ="Product Added";
    }
    private async void logfiles()
    {
        await _context.InsertExcelMapping("Mapping.xlsx");
        hej ="Product Added";
    }

}