.upload-container{
    display: flex;
    flex-direction:column;
    justify-content:center;
    height: 200px;
    width:400px;
    outline: solid;
    
    

}
.upload-div {
    margin-top: auto;
}

.upload-button {
    color: white;
    background-color: #2879fe;
    font-weight: bold;
    width: 200px;
    outline: 2px solid black;
    
    transition: 0.1s ease-in-out all;
}
.upload-button:hover{
    background-color: #2267d8;
}
.nav-buttons {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.cancel-button {
    background-color: indianred;
    font-weight: bold;
    transition: 0.1s ease-in-out all;
}
.cancel-button:hover {
    background-color:red;
}

.continue-button {
    color: white;
    background-color: #2879fe;
    font-weight: bold; 
    transition: 0.1s ease-in-out all;
}

.continue-button:hover {
    background-color: #2267d8;
}

.label-wrapper:hover{
    cursor:pointer;
}
#mergeBtn{
    width: 400px
}
.mergeBtnDiv {
    padding-top: 20px;
}

