#outerDiv {
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 1%;
    gap: 1%;
    margin:1% 0 0 0;
    border-style: solid;
    width: auto;
}

span {
    width: auto;
    height: auto;
}

p, h, button {
    margin: 0 0 0 0;
    min-width: auto;
}

#buttonDiv {
    display: flex;
    justify-content: right;
    align-items: center;
    align-self: flex-end;
    margin: 0 0 0 auto;
    width:auto;
}
