@using SPFAdminSystem.Database;
@using SPFAdminSystem.Database.ProductFiles
@inject IProductService _productDb

<div id="outerDiv" class="w-50">
        <span class="oi oi-file"></span>
        <h3>@Title</h3>
    @if(Text == "" || Text == null)
    {
        <p><span class="oi oi-warning" style="color: red;"></span> FILE MISSING! <span class="oi oi-warning" style="color: red;"></span> </p>
    } else
    {
    <p>@Text</p>
        
    }
    @if (isLoading != null)
    {
        <div id="buttonDiv">
           <span style="color:green" class="oi oi-check"></span>
        </div>
    }
    
</div>


@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Text { get; set; }
    [Parameter] public string State { get; set; }
    [Parameter] public string? ButtonText { get; set; }
    public string loadString = string.Empty;
    private bool isProgressHidden = true;
    double value = 5;
    private bool isCheckHidden = true;

    public async void ChangeState()
    {
        loadString = "Progress: Loading";
        isProgressHidden = false;
        await Task.Delay(1);
        await _callback.InvokeAsync();
        loadString = "Progress: Done!";
        isProgressHidden = true;
        isCheckHidden = false;
        StateHasChanged();
    }
}
