#outerDiv {
    display: flex;
    align-items: center;
    justify-content:left;
    padding: 1%;
    gap: 0.5%;
    margin:1% 0 0 0;
    border-style: solid;
}


span {
    width: auto;
    height: auto;
}

p, h3 {
    margin: 0 0 0 0;
}

#buttonDiv {
    display: flex;
    justify-content: right;
    align-items: center;
    align-self: flex-end;
    margin: 0 0 0 auto;
}
