<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SPFAdminSystem</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column h-100">
        <AuthorizeView Roles="Admin, Employee">
            <div class="nav-item px-3">
                <NavLink class="nav-link d-flex flex-row" href="prodadmin" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Product Administration
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-people" aria-hidden="true"></span> User Management
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, Employee">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="placeholder">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Future Feature
                </NavLink>
            </div>
            <div class="position-absolute bottom-0 w-100">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="me">
                        <span class="oi oi-person" aria-hidden="true"></span> Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                                <div class="position-absolute bottom-0 w-100">
                    <div class="nav-item px-3">
                        <NavLink class="nav-link w-100" href="login">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
