@page "/mappings"
@attribute [Authorize(Roles = "Admin, Employee")];
@using SPFAdminSystem.Database;
@using SPFAdminSystem.Database.ProductFiles
@inject IProductService _productDb

<h3>Mappings</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ProductId</th>
            <th>Barcode</th>
            <th>GWS title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mapping in mappings)
        {
            <tr>
                <td>@mapping.ProductIdMapping</td>
                <td>@mapping.Barcode</td>
                <td>@mapping.TitleGWS</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private List<Mapping> mappings = new();

    protected override async Task OnInitializedAsync()
    {
        await _productDb.LoadMappings();
        mappings = _productDb.GetMappings();
    }
}
