@page "/"

<PageTitle>Index</PageTitle>
@{
    string filepath = $"{Directory.GetCurrentDirectory()}{@"\wwwroot"}" + "\\" + "images" + "\\" + "SpilforsyningLogo.jpg";
}

<AuthorizeView>
    <NotAuthorized>
        <img src=".\images/SPFAdminSystem.jpg" alt="SPFAdminSystem logo" width="250">
        <h1>Spilforsyningens Administrering System</h1>
        <br />
        <h3>Please log in to proceed</h3>
    </NotAuthorized>
    <Authorized>
        <img src=".\images/SPFAdminSystem.jpg" alt="SPFAdminSystem logo" width="250">
        <br />
        <h2>Choose an action on the left</h2>
    </Authorized>
</AuthorizeView>



