#topSpacer{
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.container{
    max-width: 100%;
    display: flex;
}

#productList {
    margin-top: 100px;
    margin-right: 5%;
    width: 300px;
    min-width: 300px;
}

#productListItems {
    font-size: 20px;
    height: 500px;
    overflow: scroll;
    padding: 0;
    border: 2px solid black;
    -webkit-overflow-scrolling: auto;
    overflow-x: hidden;
    cursor: pointer;
}

li {
    color: black;
    height: 50px;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

    li:last-child {
        border-bottom: none;
    }

#listTitle{
    height: 30px;
    padding: 0px;
    padding-left: 5px;
    font-weight: 700;
    background: #c3c3c3;
    border-bottom: 2px solid black;
}

#matchProductContainer{
    width: 1500px;
}

#matchProduct {
    height: 700px;
    width: 100%;
    max-width: 1200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

/*#matchProductTitle {
    position: absolute;
    width: 100px;
    position: absolute;
    height: 50px;
    background: white;
}*/

#leftItem {
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
}
#rightItem {
    height: 100%;
    width: 50%;
    border-left: 1px solid black;
}

#itemTitle{
    height: 75px;
    padding-left: 15px;
    padding-top: 10px;
}

#currentInfoTitle{
    margin-top: 25px;
    
}

#leftMatchItemsFlex {
    display: flex;
    height: 100%;
    width: 80%;
    height: 500px;
    max-width: 300px;
    border: 2px solid black;
    margin: auto;
}

#currentInfoValues {
    height: 100%;
    width: 40%;
}

#currentInfo {
    height: 100%;
    width: 60%;
}

#matchListLeft{
    height: 100px;
    width: 100%;
}

#itemLi, #itemValueLi {
    color: black;
    border-bottom: none;
    text-align: left;
}

#itemValueLi {
    text-align: right;
}

#browseBtn {
    margin-left: 1%;
    padding-top: 40px;
}

#browseBtnBlue{
    font-weight: 700;
    color: white;
    background: #0288d1;
    width: 175px;
}

#listButtons{
    margin: 0;
    padding: 0;
    border: 0;
    width: 105%;
    height: 105%;
    text-align: left;
}