.cardlink[b-fwjgy9clvm] {
    max-width: 256px !important;
    max-width: 256px !important;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    background-color: #2879fe;
    color: #fff;
    text-decoration: none;
    transition: 0.1s ease-in-out all;
}

    .cardlink:hover[b-fwjgy9clvm] {
        background-color: #2267d8;
    }


.btn-square-xl[b-fwjgy9clvm] {
    width: 400px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 400px;
    text-align: center;
    padding: 0px;
    font-size: 24px;
}